@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.text-dark-color {
    @apply text-gray-900;
}

.text-light-color {
    @apply text-gray-100;
}

.text-title {
    @apply text-5xl sm:text-5xl md:text-5xl lg:text-6xl xl:text-8xl font-bold leading-tight;
}

.text-subtitle {
    @apply text-xl sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl font-bold leading-tight;
}

.text-subtext {
    @apply text-xs sm:text-sm md:text-sm lg:text-base xl:text-base leading-tight;
}

.text-normal {
    @apply text-base leading-tight;
}

.paragraph-text-normal {
    @apply text-normal sm:text-lg sm:text-left text-justify ;
}

@layer components{
    .resp-container{
        @apply mx-[3%] md:mx-[8%] lg:mx-[16%] xl:mx-[20%] min-w-[320px];
    }
}

.fade-out {
    transition: opacity 1s ease-out;
    opacity: 0;
}

.fade-out-hidden {
    transition: opacity 1s ease-out;
    display: none;
}
